<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="botao-sair" defaultHref="/tabs/tab1"></ion-back-button> <!-- Botão de sair -->
    </ion-buttons>
    <ion-title>
      <div class="titulo">
        Minhas solicitações
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let solicitacao of solicitacoes">
      <ion-avatar slot="start">
        <img [src]="solicitacao.imagem" alt="Avatar">
      </ion-avatar>
      <ion-buttons slot="end">
        <ion-button color="success" (click)="aprovarSolicitacao(solicitacao)">
          <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="rejeitarSolicitacao(solicitacao)">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
